<h1>В мобильном приложении Just For You назначена доставка:</h1>

<p>
  Пользователь: <%= @delivery.purchase.user.full_name %>
</p>

<p>
  Отменена доставка: <%= time_interval_for_delivery(@delivery) %>
</p>
