<h1>В мобильном приложении Just For You назначена доставка:</h1>

<p>
  Пользователь: <%= @purchase.user.full_name %>
</p>

<p>
  Желаемые даты доставки:
</p>

<p>
  <%- @deliveries.each do |delivery| %>
    <p>
      <%= delivery.formatted_scheduled_for %>
      <%= delivery.address.to_s %>
    </p>
  <% end %>
</p>

<p>
  Состав заказа:
  <%= "#{@purchase.program.name} x #{@purchase.number_of_days} #{t(@purchase.program.unit)}" %>
</p>
